body {
  text-align: center;
  font-family: Source Code Pro;
  font-size: 20px;
  background: #222222;
  color: #ffffff;
}
a:link, a:visited {
  color: #efb0ff;
  background-color: transparent;
  text-decoration: none;
}
a:hover, a:active {
  color: #efb0ff;
  background-color: transparent;
  text-decoration: underline;
}

/* ANIMATION STUFF */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInBottomLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInBottomLeft {
  animation-name: fadeInBottomLeft;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInBottomRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInBottomRight {
  animation-name: fadeInBottomRight;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation-name: rotation;
}

/*END OF ANIMATION STUFF */

.border {
  border-radius: 50px;
  background-image: url("images/bg.png");
  background-repeat: repeat;
  padding: 25px;
  width: 25%;
  height: 150px;
  color: #000000;
  text-align: center;
  font-family: Source Code Pro;
  font-size: 19px;
  margin: auto;
  text-decoration: none;
  margin-bottom: 30px;
}

a.linkless:hover, a.linkless:active {
  color: #efb0ff;
  background-color: transparent;
  text-decoration: none;
}

.row {
  display: flex;
}

.column4 {
  flex: 25%;
  padding: 5px;
}

.column3 {
  flex: 33.33%;
  padding: 5px;
}

.column2 {
  flex: 50%;
  padding: 5px;
}

.grow {
  transition: transform 0.2s;
  margin: 0 auto;
}

.grow:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-family: Source Code Pro;
  border-radius: 50px
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #222222;
}